Repository okayd/.github: changes, and which lefthook commands are due for each by the changed paths.
All: editorconfig, format, license, markdown, markdown-toc, package-json

editorconfig:
  tags: editorconfig format
  run: npx prettier --write {staged_files} && git add {staged_files}

format:
  tags: prettier format
  run: npx prettier --write {staged_files} && git add {staged_files}

license:
  tags: prettier format
  run: npx prettier --write {staged_files} && git add {staged_files}

markdown:
  tags: markdown lint
  run: npx prettier --write {staged_files} && git add {staged_files} && npx markdownlint {staged_files}

markdown-toc:
  tags: markdown toc format
  run: npx doctoc --maxlevel 3 --notitle {staged_files} && npx prettier --write {staged_files} && git add {staged_files}

package-json:
  tags: package-json format lint
  run: npx sort-package-json && npx npmPkgJsonLint -c ./.npmpackagejsonlintrc.json . && git add package.json

chore: add initial GitHub profile content for Okayd
  .markdownlint.yml
  images/open-at-okayd.png
  profile/README.md
Due: format, markdown

chore(jenkins-x): add CI pipeline to run tests for pull requests
  .lighthouse/jenkins-x/pullrequest.yaml
  .lighthouse/jenkins-x/triggers.yaml
  OWNERS
  OWNERS_ALIASES
Due: format

build: adding github actions to validate PRs
  .github/workflows/lint.yml
  .gitignore
  .lighthouse/jenkins-x/pullrequest.yaml
  .lighthouse/jenkins-x/triggers.yaml
  package-lock.json
Due: format

chore(nvm): using Node v14
  .nvmrc
Due: none

docs: moving content to repo README
  README.md
  profile/README.md
Due: markdown

Path conditions:
  editorconfig: any of: .editorconfig
  format: any of: *.{css,html,json,less,mdx,scss,vue,yaml,yml}
  license: any of: LICENSE
  markdown: any of: *.md
  markdown-toc: any of: {CODE_OF_CONDUCT.md,MAINTAINING.md}
  package-json: any of: package.json
